<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/highlight-within-textarea@2.0.5/jquery.highlight-within-textarea.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight-within-textarea@2.0.5/jquery.highlight-within-textarea.min.css" rel="stylesheet">
<script>    
    $(document).ready(function () {
        const excel_file = document.getElementById('excel_file'); 
        var text;   
        excel_file.addEventListener('change', async(event) => {    
            
            if(!['application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.ms-excel'].includes(event.target.files[0].type)){
                document.getElementById('excel_data').innerHTML = '<div class="alert alert-danger">Only .xlsx or .xls file format are allowed</div>';    
                excel_file.value = '';    
                return false;
            }    
            var reader = new FileReader();    
            reader.readAsArrayBuffer(event.target.files[0]);
            reader.onload = function(event){   
                var data = new Uint8Array(reader.result);    
                var work_book = XLSX.read(data, {type:'array'});    
                var sheet_name = work_book.SheetNames;    
                var sheet_data = XLSX.utils.sheet_to_json(work_book.Sheets[sheet_name[0]], {header:1});    
                if(sheet_data.length > 0){
                    //console.log("sheet_data : " + sheet_data);
                    var table_output = '<table class="table table-striped table-bordered" id="excelTable" style="width:650px; height:405px; display: block; overflow: auto; " >';    
                    for(var row = 0; row < sheet_data.length; row++){
                        table_output += '<tr style="user-select:none;">';    
                        for(var cell = 0; cell < sheet_data[row].length; cell++){
                            if(row == 0){    
                                table_output += '<th>'+sheet_data[row][cell]+'</th>';    
                            }else{    
                                table_output += '<td><div class="btndiv" id="btn" style="height: 50px; overflow:hidden;"><button type="button" class="btn btn-light">'+sheet_data[row][cell]+'</button></div></td>';    
                            }    
                        }    
                        table_output += '</tr>';    
                    }    
                    table_output += '</table>';    
                    document.getElementById('excel_data').innerHTML = table_output;
                }    
                excel_file.value = '';
                //取得產生excel的按鈕內容
                getTableElement();  
            }
        });        
        getTokenP2();
        //根據select顯示token
        $("#selectRegexType").on('change', function() {
            value = document.getElementById('selectRegexType').value;
            if (value == "T" || value =="E"){
                getTokenByTypeP2();
            }else{
                getTokenP2();
            }
          });

        //按下執行按鈕
        $("#page2Execute").click(function(){
            //已選擇的reportID
            var currentReportID = document.getElementById("selectOutput").value
            //console.log("currentReportID : " + currentReportID);
            //取得已選擇的textarea
            var valueText = document.getElementById('id' + currentReportID);
            //console.log("valueText : " + valueText);
            //取得已選取的regex
            var selected = getAllSelectedRegex();
            //console.log("selected : " + selected);

            
            if (selected.length == 0){
                display_noRegex();
                return;
            }
            //console.log("valuetext :" + valueText.value);
            if (!valueText){
                display_noInput();
                return;
            }

            BatchProcessingExtract(selected,valueText,currentReportID);
        });

        //按下執行全部按鈕
        $("#page2ExecuteAll").click(function(){
            //取得已選取的regex
            var selected = getAllSelectedRegex();
            //console.log("selected : " + selected);
            
            
            //取得已選取的按鈕
            activeButton = document.getElementsByClassName("btn btn-light active");
            for (var i=0 ; i<activeButton.length ; i++){
                //console.log("activeButton : " + activeButton[i].innerHTML);                
                //取得所有已選擇的textarea
                var valueText = document.getElementById("id" + activeButton[i].innerHTML);
                //console.log("valueText : " + valueText.innerHTML);    
                var currentReportID = activeButton[i].innerHTML;                   
                BatchProcessingExtract(selected,valueText,currentReportID);
            }
        });

        //按下清除所有按鈕
        $("#page2ClearALL").click(function(){
            //console.log("ClearALL!!!");
            document.getElementById('floatingTextarea2').value = '';
        });

        //根據select顯示Excel Or DB
        $("#selectExcelDB").on('change', function() {
            value = document.getElementById('selectExcelDB').value;
            if (value == "Excel"){
                document.getElementById('excelSelector').style.visibility = 'visible';
            }else{
                document.getElementById('excelSelector').style.visibility = 'hidden';
                createReportButton();
            }
        });        
        $('button[name="reportButton"]').click(function(){
            //var valueis = $(this).attr('onclick');
            //console.log("clicked" + $(this).value);
        });
        createReportButton();
        //console.log("x : " + document.getElementsByName("reportButton")[0].value);
        
        //根據select哪個textarea
        $("#selectOutput").on('change', function() {
            id = document.getElementById('selectOutput').value;            
            //隱藏所有textarea
            var textArea = document.getElementsByClassName('text');
            for (var i=0 ; i<textArea.length ; i++){
                if (textArea[i].style.display != "none"){
                    textArea[i].style.display = "none";
                    console.log("break " + i);
                    break;
                }
            }
            //被選取的textarea顯示
            //console.log("id : " + id);
            document.getElementById("id"+id).style.display = "block";
            //選中的文章按鈕加邊框 前任刪邊框
            selectedButton = document.getElementsByClassName("btn btn-light active border border-primary");
            console.log("selected BUTTON :" + selectedButton);
            if (selectedButton[0]){
                selectedButton[0].classList.remove('border','border-primary');
            }               
            document.getElementById(id).className += " " + "border border-primary";
            
            //傳入button.id調整table位置
            trigger(id);
        });

        //快速鍵 20230210之後再做
        document.onkeydown = function (e) {
            //console.log('key down');
            //console.log(e);
            
            //取得現在的文章ID
            selectedButton = document.getElementsByClassName("btn btn-light active border border-primary");
            //取得已選擇文章按鈕
            activeButton = document.getElementsByClassName("btn btn-light active");
            if ((e.key === "PageUp") && (selectedButton[0])){
                //console.log("PageUp");
                ID = selectedButton[0].value;
                //console.log("length : " + activeButton.length);
                //取得按鈕在第幾個位置
                for (var i=0 ; i<activeButton.length ; i++){
                    if (ID == activeButton[i].value){
                        if(i != 0){
                            positionOfButton = i;
                            //console.log("position : " + i);
                            //移除現在的框選按鈕
                            selectedButton[0].classList.remove('border','border-primary');
                            //取得上一按鈕id並且框選
                            document.getElementById(activeButton[i-1].value).className += " " + "border border-primary";
                            id = activeButton[i-1].value;
                        }
                        else{
                            //移除現在的框選按鈕
                            selectedButton[0].classList.remove('border','border-primary');                            
                            //取得最後按鈕id並且框選
                            i = activeButton.length-1;
                            //console.log("i : " + i);
                            //console.log("activeButton : " + activeButton[i].value);
                            document.getElementById(activeButton[i].value).className += " " + "border border-primary";
                            id = activeButton[i].value;
                        }
                        //傳入button.id調整table位置
                        trigger(id);
                        changePrint(id);
                        break;
                    }
                }
            }

            if (e.key === "PageDown" && (selectedButton[0])){
                //console.log("PageDown");
                //console.log("PageUp");
                ID = selectedButton[0].value;
                //console.log("length : " + activeButton.length);
                //取得按鈕在第幾個位置
                for (var i=0 ; i<activeButton.length ; i++){
                    if (ID == activeButton[i].value){
                        if(i == activeButton.length-1){
                            //移除現在的框選按鈕
                            selectedButton[0].classList.remove('border','border-primary');                            
                            //取得第一按鈕id並且框選
                            i = 0;
                            //console.log("i : " + i);
                            //console.log("activeButton : " + activeButton[i]);
                            document.getElementById(activeButton[i].value).className += " " + "border border-primary";
                            id = activeButton[i].value;
                        }
                        else{
                            positionOfButton = i;
                            //console.log("position : " + i);
                            //移除現在的框選按鈕
                            selectedButton[0].classList.remove('border','border-primary');
                            //取得下一按鈕id並且框選
                            document.getElementById(activeButton[i+1].value).className += " " + "border border-primary";
                            id = activeButton[i+1].value;
                            //onsole.log("i : " + (i+1));
                            //onsole.log("activeButton.length : " + (activeButton.length));
                        }
                        //else{
                        //}
                        //傳入button.id調整table位置
                        changePrint(id);
                        trigger(id);
                        break;
                    }
                }
            }
        };
    });

    //傳入id選擇選項以及顯示文章
    function changePrint(id){
        
        //選擇option
        document.getElementById(id + "option").selected = true;

        //隱藏所有textarea
        var textArea = document.getElementsByClassName('text');
        for (var i=0 ; i<textArea.length ; i++){
            if(textArea[i].style.display != "none"){
                textArea[i].style.display = "none";
                break;
            }
        }

        //被選取的textarea顯示
        document.getElementById("id"+id).style.display = "block";

    }
    
    //抓regexName(token)
    function getTokenP2(){
        document.getElementById('tokenContainer').innerHTML = "";
        //console.log("get token p2 " + selectValue);
        $.ajax({
            type: 'GET',
            url: '{% url 'getVocabulary' %}',
            data:{
            },
            success:function (response){
                //console.log(response.data);
                var count = Object.keys(response.data).length;
                //console.log(count);
                var topdis = 0;
                var id = 0;
                for(var i=0 ; i<count ; i++){
                    topdis += 30;
                    id += 1;
                    var checkBox = '<input class="form-check-input" type="checkbox" value="'+response.data[i].token+'" id="flexCheckDefault'+ id +'" name="checkBoxes" style="position:absolute; top:'+ topdis +'px; "><label class="form-check-label" for="flexCheckDefault'+ id +'" style="position:absolute; top:'+ topdis +'px; left:45px; width:200px; user-select:none;">'+ response.data[i].token +'</label>'                    
                    document.getElementById('tokenContainer').innerHTML += checkBox;
                }
            },
        })
    }

    //抓regexName(token)
    function getTokenByTypeP2(){
        document.getElementById('tokenContainer').innerHTML = "";
        selectValue = document.getElementById('selectRegexType').value;
        //console.log("get token p2 " + selectValue);
        $.ajax({
            type: 'GET',
            url: '{% url 'getVocabularyByType' %}',
            data:{
                'tokenType':selectValue,
            },
            success:function (response){
                //console.log(response.data);
                var count = Object.keys(response.data).length;
                //console.log(count);
                var topdis = 0;
                var id = 0;
                for(var i=0 ; i<count ; i++){
                    //console.log("token : " + response.dict[i].token)
                    topdis += 30;
                    id += 1;
                    var checkBox = '<input class="form-check-input" type="checkbox" value="'+response.data[i].token+'" id="flexCheckDefault'+ id +'" name="checkBoxes" style="position:absolute; top:'+ topdis +'px; "><label class="form-check-label" for="flexCheckDefault'+ id +'" style="position:absolute; top:'+ topdis +'px; left:45px; width:100px; user-select:none;">'+ response.data[i].token +'</label>'                    
                    document.getElementById('tokenContainer').innerHTML += checkBox;
                }
            },
        })
    }

    //取得產生excel的按鈕內容 
    function getTableElement(){
        //test get button
        let buttons = document.querySelector('#excelTable');  //步驟1
        var text = document.getElementById('floatingTextarea2').innerHTML;
        //console.log(buttons);
        buttons.addEventListener('click', (e) => { //步驟2
            if (e.target.nodeName === 'BUTTON') { //步驟3
                //console.log('Click! ' + e.target.innerText);
                //prepend寫法
                //document.getElementById('floatingTextarea2').insertAdjacentHTML("afterbegin", e.target.innerText + '\n\n');
                //append寫法                
                document.getElementById('floatingTextarea2').value += e.target.innerText + '\n\n';
                document.getElementById('floatingTextarea2').innerHTML += e.target.innerText + '\n\n';
            }
        });        
    }

    //取得被選取的regex
    function getAllSelectedRegex(){
        var array = [];
        $("input:checkbox[name=checkBoxes]:checked").each(function() {
            array.push($(this).val());
        });
        //console.log(array);
        return array;
    }

    //萃取全部(需要iter的是文章id 取得文章內容)
    function BatchProcessingExtract(selected,valueText,currentReportID){
        //console.log("selected : " + selected);
        //萃取模式
        if ((selected.length != 0) && (valueText != "")) {
            //console.log("array is not null");
            let buttons = document.querySelector('#excelTable');  //步驟1
            //console.log(buttons);              

            var TokenID = [];
            var REGEX = [];
            var TokenType = [];
            var ItemName = [];
            //迴圈執行陣列走訪(提取RE)
            for(var i=0 ; i<selected.length ; i++){
                //console.log("element is :" + selected[i]);
                //找tokenID
                $.ajax({
                    async: false,
                    type: 'GET',
                    url: '{% url 'checkName' %}',
                    data:{
                        'Name': selected[i],
                    },
                    //成功找RE
                    success:function (response){
                        TokenID.push(response.tokenID);
                        TokenType.push(response.tokenType);
                        //console.log("TokenID : " + response.tokenID);
                        $.ajax({
                            async: false,
                            type: 'GET',
                            url: '{% url 'checkRE' %}',
                            data:{
                                'tokenID': response.tokenID,
                            },
                            success:function (response1){
                                REGEX.push(response1.RE);
                                //如果是E就找第三張表
                                if (response.tokenType === 'E'){
                                    $.ajax({
                                        async: false,
                                        type: 'GET',
                                        url: '{% url 'checkREItem' %}',
                                        data:{
                                            'tokenREID': response1.tokenREID,
                                        },
                                        success:function (response2){
                                            //console.log("itemName : " + response2.data[1].itemName);
                                            for (var itemnameLen=0 ; itemnameLen<response2.data.length ; itemnameLen++){
                                                ItemName.push(response2.data[itemnameLen].itemName);
                                                //console.log("itemName : " + ItemName);
                                            }                                            
                                        },
                                    });

                                }
                                //console.log("RE : " + response1.RE)
                            },
                        });
                        //console.log("com : " + TokenID + REGEX);            
                    },
                });
                
            }
            //console.log("regex: " + REGEX);
            //取出的資料總數
            var start_end_count = 0;
            //用來決定第i個selected從哪開始填入陣列(不然會被洗掉)
            var origin = 0;
            var start = [];
            var end = [];
            var array = [];
            var patternArray = [];            
            var matchArrayIndex = 0;
            for(var i=0 ; i<REGEX.length ; i++){
                //定義輸入的regex值存進變數
                let textToSearch = REGEX[i];
                //處理輸入的regex文本
                if (textToSearch){
                    textToSearch = textToSearch.replace(/[ .*+?^${}()| [\ ]\\ ]/g,"\\$&");
                }
                //將處理好的regex文本定義為新的regex物件
                let pattern = new RegExp(`${textToSearch}`,"gi");
                //若是選擇DB就存起來
                var selectExcelDB = document.getElementById("selectExcelDB");
                if (selectExcelDB.value === "DB"){

                    paragraph = valueText.innerHTML
                    //將輸出文本與regex物件有符合的地方取代為空白
                    x = paragraph.replace(pattern, " ");

                    //console.log("x : " + x );
                    valueText.innerHTML = paragraph.replace(pattern, " ");
                    
                    //無符合配對20230213之後修
                    //if (valueText.innerHTML == paragraph){                            
                    //    display_noMatch(textToSearch);
                    //    return;
                    //}

                    //console.log("selected DB");
                    //第一步先update analyseText
                    //$.ajax({
                    //    async: false,
                    //    type: 'PATCH',
                    //    url: '{% url 'getReportText' %}',
                    //    data:{
                    //        'residualText': response1.tokenREID,
                    //    },
                    //    success:function (response2){
                    //        //console.log("itemName : " + response2.data[1].itemName);
                    //        for (var itemnameLen=0 ; itemnameLen<response2.data.length ; itemnameLen++){
                    //            ItemName.push(response2.data[itemnameLen].itemName);
                    //            console.log("itemName : " + ItemName);
                    //        }
                    //    },
                    //});
                    patternArray[i] = pattern;
                    //console.log("paragraph : " + paragraph);
                    matchArray = [];
                    while (match = pattern.exec(paragraph)) {
                        //console.log(match.index + ' ' + pattern.lastIndex);
                        start[start_end_count] = match.index;
                        end[start_end_count] = pattern.lastIndex;
                        start_end_count += 1;
                        //console.log("match : " + match);
                        matchArray.push(match.groups);
                        //match.groups
                        //console.log("matchGroups : " , match.groups);
                        matchArrayIndex += 1;
                        //var textOfTextArea = document.getElementById("id"+ selectedOption);
                        //textOfTextArea.innerHTML = "text";
                    }
                    //console.log("matchArray : " , matchArray);
                    //for (var x=0 ; x<matchArray.length ; x++){
                    //    console.log("matchArray : " + matchArray[x]);
                    //}
                    for(var j=origin ; j<start_end_count ; j++){
                        array[j] = [currentReportID,start[j], end[j], selected[i]]; 
                    }
                    origin = start_end_count;
                }                
                //console.log(pattern);
            }
            //螢光
            //console.log("hightlight: " + selectedOption + patternArray);
            //x = $('#id'+selectedOption).highlightWithinTextarea({
            //    highlight: patternArray
            //});
            //console.log("x: "  + x);
            //var textOfTextArea = document.getElementById("id"+ selectedOption);
            //textOfTextArea.innerHTML = "text";
            
            
            //顯示結果表格
            if (selected.length != 0 && array[0]){
                //console.log(result_array);
                //創建表格元素
                let myTable = document.querySelector('#result_data');
                //console.log(Object.keys(result_array[0]));
                let headers = ['ReportID','Start','End','RegexName'];
                let table = document.createElement('table');
                let headerRow = document.createElement('tr');
                headers.forEach(headerText => {
                    let header = document.createElement('th');
                    let textNode = document.createTextNode(headerText);
                    header.appendChild(textNode);
                    headerRow.appendChild(header);
                });
                table.appendChild(headerRow);
                array.forEach(emp => {
                    let row = document.createElement('tr');
                    Object.values(emp).forEach(text => {
                        let cell = document.createElement('td');
                        let textNode = document.createTextNode(text);
                        cell.appendChild(textNode);
                        row.appendChild(cell);
                    })
                    table.appendChild(row);
                });
                myTable.appendChild(table);
            }
            
            //測試取得對應index的itemname跟itemvalue(回傳陣列)
            //console.log(Object.keys(matchArray[0]));
            //console.log(Object.values(matchArray[0]));
            //每篇文章的 每個RE的 每個match的 每個變數的值


            //update analyseText
            var arrayIndex = 0;            
            var extractArray = [];
            $.ajax({
                async: false,
                type: 'PATCH',
                url: '{% url 'getReportText' %}',                
                data:JSON.stringify({
                    'reportID' : currentReportID,
                    'residualText': valueText.innerHTML,
                }),
                success:function (response){
                    console.log(response.status);
                    if (response.status === "0"){
                        //console.log("update analyseText success : " + response.reportID);
                        //陣列裡面每個值都存一次第二章表
                        array.forEach(ary => {
                            $.ajax({
                                async: false,
                                type: 'POST',
                                url: '{% url 'getReportText' %}',                
                                data:{
                                    'reportID' : response.reportID,
                                    'posStart': ary[1],
                                    'posEnd': ary[2],
                                    'token': ary[3],
                                },
                                //成功存第三章表(每個array值會有一個tokenID.一次的match)
                                success:function (response1){
                                    if (response1.status === "0" && matchArray[arrayIndex]){                                        
                                        Key = Object.keys(matchArray[arrayIndex]);
                                        Value = Object.values(matchArray[arrayIndex]);
                                        for (var i=0 ; i<Key.length ; i++){
                                            //console.log("i : " + i);
                                            //console.log("value : " + Value[i]);
                                            $.ajax({
                                                async: false,
                                                type: 'GET',
                                                url: '{% url 'getTokenREItemID' %}',                
                                                data:{
                                                    'token' : ary[3],
                                                    'itemName': Key[i],
                                                },
                                                //成功存第三章表(每個array值會有一個tokenID.一次的match)
                                                success:function (response2){
                                                    if (response2.status === "0" && response2.tokenType === "E"){
                                                        extractArray[arrayIndex] = ([response.reportID, ary[1], response2.tokenREItemID, Value[i]])
                                                        //console.log("tokenID : " + response2.tokenID);
                                                        //console.log("tokenREID : " + response2.tokenREID);
                                                        //console.log("tokenREItemID : " + response2.tokenREItemID);
                                                        //console.log("extractArray : " + extractArray[arrayIndex]);
                                                        $.ajax({
                                                            async: false,
                                                            type: 'POST',
                                                            url: '{% url 'getTokenREItemID' %}',                
                                                            data:{
                                                                'reportID' : extractArray[arrayIndex][0],
                                                                'posStart': extractArray[arrayIndex][1],
                                                                'tokenREItemID': extractArray[arrayIndex][2],
                                                                'extractedValue': extractArray[arrayIndex][3],
                                                            },
                                                            success:function (response3){
                                                                //if (response3.status === "0"){
                                                                //    console.log("extractedValueFromToken save Success !!!");
                                                                //}
                                                            },
                                                        });
                                                    }
                                                },
                                            });
                                        }
                                    }
                                },
                            });
                            arrayIndex += 1;
                        });





                    }
                },
            });
        }        
    }

    
    //顯示未選regex
    function display_noRegex(){
        var x = document.getElementById("noRegex");
        //console.log(x.style.visibility)
        if (document.getElementById("noRegex").style.visibility != 'visible') {
            document.getElementById("noRegex").style.visibility = 'visible';
            setTimeout(function() {
                //your code to be executed after 1 second                    
                document.getElementById("noRegex").style.visibility = 'hidden';
            }, 1200);
        }
    }
    
    //顯示未輸入
    function display_noInput(){
        var x = document.getElementById("noInput");
        //console.log(x.style.visibility)
        if (document.getElementById("noInput").style.visibility != 'visible') {
            document.getElementById("noInput").style.visibility = 'visible';
            setTimeout(function() {
                //your code to be executed after 1 second                    
                document.getElementById("noInput").style.visibility = 'hidden';
            }, 1200);
        }
    }
    
    //顯示無符合項目
    function display_noMatch(regexName){
        var x = document.getElementById("noMatch");
        //console.log(x.style.visibility)
        document.getElementById("noMatch").innerHTML += regexName;
        if (document.getElementById("noMatch").style.visibility != 'visible') {
            document.getElementById("noMatch").style.visibility = 'visible';
            document.getElementById("noMatch").innerHTML = "No match"
            setTimeout(function() {
                //your code to be executed after 1 second                    
                document.getElementById("noMatch").style.visibility = 'hidden';
            }, 1200);
        }
    }

    //產生表格.按鈕 + 監聽按鈕
    function createReportButton(){
        $.ajax({
            type: 'GET',
            url: '{% url 'getReportID' %}',
            data:{
            },
            success:async function (response){
                array = [];
                for (var i=0 ; i<response.data.length ; i++){
                    array[0] = ["Report"];
                    array.push([response.data[i].reportID]);
                }
                console.log(array);
                if(array.length > 0){
                    //console.log("sheet_data : " + array[0]);
                    var table_output = '<table class="table table-striped table-bordered" id="reportTable" style="width:200px; height:600px; display: block; overflow: auto; " >';    
                    for(var row = 0; row < array.length; row++){
                        table_output += '<tr style="user-select:none;">';    
                        for(var cell = 0; cell < array[row].length; cell++){
                            if(row == 0){    
                                table_output += '<th>'+array[row][cell]+'</th>';    
                            }else{    
                                table_output += '<td><div class="btndiv" id="reportbtn" style="height: 50px; overflow:hidden;"><button type="button"  class="btn btn-light" name="reportButton" id="' + array[row][cell] + '" value="' + array[row][cell] + '">'+array[row][cell]+'</button></div></td>';    
                            }    
                        }    
                        table_output += '</tr>';
                    }    
                    table_output += '</table>';
                    document.getElementById('reportText').innerHTML = table_output;
                }
                getTableElementOfReport();
            },
        })
    }

    //取得表格ID
    function getTableElementOfReport(){
        //test get button
        var text = document.getElementById('floatingTextarea2').innerHTML;
        var button = document.getElementsByName("reportButton");
        for (var i=0 ; i<button.length ; i++){
            button[i].addEventListener('click', function(event) {                
                //console.log("clicked : " + $(this)[0].value);
                getReport($(this)[0].value);
                //console.log("class : " + $(this)[0].className);
                if ($(this)[0].className === "btn btn-light"){
                    $(this)[0].className = "btn btn-light active";
                    //console.log("class : " + $(this)[0].className);
                }else if ($(this)[0].className === "btn btn-light active"){
                    $(this)[0].className = "btn btn-light";
                    //console.log("class : " + $(this)[0].className);
                }
            });
        }
    }

    //用按鈕value丟到後端取得reportText
    function getReport(reportID){
        $.ajax({
            type: 'GET',
            url: '{% url 'getReportText' %}',
            data:{
                'reportID': reportID,
            },
            success:async function (response){
                //console.log(response.reportText);
                //document.getElementById('floatingTextarea2').value += response.reportText + '\n\n';
                //document.getElementById('floatingTextarea2').innerHTML += response.reportText + '\n\n';
                //產生

                //Button toggle
                var btn = document.getElementById(reportID);
                if (btn.className === "btn btn-light active"){
                    //新增選項
                    var option = document.createElement("option");
                    option.id = reportID + "option";
                    option.class = "selectOption";
                    option.text = reportID;
                    option.value = reportID;
                    var select = document.getElementById("selectOutput");
                    select.appendChild(option);
                    //取消選取所有option
                    var OP = document.getElementsByClassName('selectOption');
                    for (var i=0 ; i<OP.length ; i++){
                        if (OP[i].selected != false){
                            OP[i].selected = false;
                            break;
                        }
                    }
                    //選擇剛生成的option
                    document.getElementById(reportID + "option").selected = true;

                    //隱藏所有textarea
                    var textArea = document.getElementsByClassName('text');
                    for (var i=0 ; i<textArea.length ; i++){
                        if (textArea[i].style.display != "none"){
                            textArea[i].style.display = "none";
                            break;
                        }
                    }
                    //新增textarea
                    document.getElementById("textAreaDiv").innerHTML += '<textarea class="text" id="id'+ reportID +'" value="'+ response.reportText +'" style="width:600px; height:300px; display:block; overflow:auto;">'+ response.reportText +'</textarea>';
                    //新增的textarea顯示
                    $("#"+reportID+"").attr("display","block");

                    
                    //選中的文章按鈕加邊框 前任刪邊框
                    selectedButton = document.getElementsByClassName("btn btn-light active border border-primary");
                    //console.log("selected BUTTON :" + selectedButton);
                    if (selectedButton[0]){
                        selectedButton[0].classList.remove('border','border-primary');
                    }               
                    document.getElementById(reportID).className += " " + "border border-primary"; 
                }
                else if (btn.className === "btn btn-light"){
                    //刪除選項
                    var selectobject = document.getElementById("selectOutput");
                    for (var i=0; i<selectobject.length; i++) {
                        if (selectobject.options[i].value == reportID){
                            selectobject.remove(i);
                            break;
                        }
                    }
                    console.log("selected :" + selectobject.value);
                    //隱藏所有textarea
                    var textArea = document.getElementsByClassName('text');
                    for (var i=0 ; i<textArea.length ; i++){
                        if(textArea[i].style.display != "none"){
                            textArea[i].style.display = "none";
                            break;
                        }
                    }
                    //被選取的textarea顯示
                    if (selectobject.value){
                        document.getElementById("id"+selectobject.value).style.display = "block";
                    }
                    //刪除被取消選取的textArea
                    var element = document.getElementById("id" + reportID);
                    element.parentNode.removeChild(element);

                }
                else if (btn.className === "btn btn-light active border border-primary") {
                    console.log("selected button touched !!!");
                    
                    

                    //取消邊框.active
                    selectedButton = document.getElementsByClassName("btn btn-light active border border-primary");
                    //console.log("selected BUTTON :" + selectedButton);
                    if (selectedButton[0]){
                        selectedButton[0].classList.remove('border', 'border-primary', 'active');
                    }

                    //刪除被取消選取的textArea
                    var element = document.getElementById("id" + reportID);
                    element.parentNode.removeChild(element);
                    
                    //刪除被取消選取的option
                    var deleteOption = document.getElementById(reportID + "option");
                    deleteOption.parentNode.removeChild(deleteOption);

                    //選擇第一筆已選取按鈕
                    leftButton = document.getElementsByClassName("btn btn-light active");
                    if (leftButton[0]){
                        //console.log("there's button left!!!");
                        //console.log("leftbutton : " + leftButton[0].id);

                        //顯示已選取按鈕邊框
                        document.getElementById(leftButton[0].id).className = "btn btn-light active border border-primary";
                        
                        //顯示第一筆已選取文章
                        //leftTextArea = document.getElementById("id"+leftButton[0].id);
                        //console.log("leftTextArea :" + leftTextArea.id);
                        //leftTextArea.style.display = "block";
//
                        ////選擇剩下的第一筆選項
                        //document.getElementById(leftButton[0].id + "option").selected = true;
                        changePrint(leftButton[0].id);
                        //傳入button.id調整table位置
                        trigger(leftButton[0].id);
                    }

                }         
            },
        })
    }

    //調整table位置
    function trigger(buttonId){
        //往父級找 找到第一個tr(返回陣列值)
        var $objTr = $(`#${buttonId}`).parents('tr');
        //取得返回值的第一個
        var objTr = $objTr[0];
        //捲動動畫
        $('#reportTable').animate({scrollTop:(objTr.offsetTop-250)},'fast');
    }

    //取得目前已選取的按鈕
    function getActiveButtons(){
        //已選取的按鈕
        activeButton = document.getElementsByClassName("btn btn-light active");
        //for (var i=0 ; i<activeButton.length ; i++){            
        //    console.log("activeButton : " + activeButton[i].innerHTML);
        //}
    }

    

    
    </script>