

{% load static%}
{% block content %}

<!DOCTYPE html>
<html lang="zh-Hant" >
<head>
    <meta name="viewport" maximum-scale=1.0, user-scalable=0 content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- CSS only -->
    <link rel="stylesheet" href="{% static 'css_js/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/font-awesome.min.css' %}">


    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-grid.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-grid.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-reboot.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-reboot.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-utilities.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-utilities.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-utilities.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-utilities.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/loaders.css-master/loaders.css' %}">
    <!-- JS, Popper.js, and jQuery -->
    <script src="{% static 'css_js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'css_js/popper.min.js' %}"></script>
    <script src="{% static 'css_js/bootstrap.min.js' %}"></script>
    <script src="{% static 'css_js/bootstrap-5.0.2-dist/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'css_js/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'css_js/bootstrap-5.0.2-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'css_js/bootstrap-5.0.2-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'css_js/key_forbidden.js' %}"></script>
    <script src="{% static 'css_js/popper.min.js' %}"></script>
    <script src="{% static 'css_js/loaders.css-master/loaders.css.js' %}"></script>
    <title>DICOM</title>
    </head>

<style>
    body{-webkit-user-select:none; -moz-user-select:none;   -o-user-select:none; user-select:none;overflow-x: auto;overflow-y: hidden;}

    #SubjectName{background:url("{% static 'image/texture.png' %}");z-index: 1;position: absolute;height: 40px;margin-top: 55px;padding-left: 200px;width: 100%;background-color: #A67F78;font-weight:bold ;font-size: 18pt;text-align: center;color: #EEEEEE}
    #PatientList{background:url("{% static 'image/texture.png' %}");padding: 0px;padding-left: 200px;margin: 0px;z-index: 0;position: absolute;top: 55px;width: 100%;height: 95%;overflow-x: auto;overflow-y: auto;background-color: #E1DCD9}

    #Disease{z-index: 2;position: absolute;top:55px;height: 50px;width: 200px;border-radius: 2px}
    #topic{z-index: 2;position: absolute;top:105px;height: 40px;width: 200px;border-radius: 2px}
    #filter{z-index: 2;position: absolute;top:145px;height: 40px;width: 200px;border-radius: 2px}
    #SubjectPatient{background:url("{% static 'image/texture.png' %}");padding: 0px;margin: 0px;z-index: 1;position: absolute;top: 185px;width: 200px;height: calc(100% - 185px);overflow-x: hidden;overflow-y: auto;background-color: #32435F}
    #SubjectPatient table{padding: 0px;margin: 0px;color:white;width: 200px;text-align: center;font-size: 16pt}
    input[name='Patient']{display: none}
    input[name='Patient'] +label{width: 100%;height: 40px;padding-top: 5px;margin: 0}
    input[name='Patient']:checked ~label{background-color: #e78632;}


    #PatientList table{width: 96%;margin: 2%;border: solid 1px  #1D6A96;background-color: #FFFFFF;font-size: 14pt}
    #PatientList table thead{background:url("{% static 'image/texture.png' %}");height: 50px;border: solid 1px #1D6A96;border-left: solid 5px #1D6A96;border-right: solid 5px #1D6A96;;background-color: #333333;color: #FFFFFF;text-align: center;margin: 0;padding: 0 ;}
    #PatientList table thead td{width: 20%}
    #PatientList table tbody{background:url("{% static 'image/texture.png' %}");border: solid 1px #1D6A96;border-left: solid 5px #1D6A96;border-right: solid 5px #1D6A96;text-align: center;margin: 0;padding: 0 }
    #PatientList table tbody td{height: 50px}
    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    .StudyDes{display:none}
    .loader{display:none;position:absolute;top:40%;left:50%}
    #menu{padding-bottom:5px;padding-left:5px;padding-right:5px;position: fixed;z-index: 5;max-height: 85vh;display: none;margin: 0;width: 150px;background-color: #A6AAAb; border-radius: 5px 5px 5px 5px}
    .btnSetting { font-size:10pt;margin:0;margin-top: 5px;width: 100%;max-height: 85vh; border-radius: 5px 5px 5px 5px}
    #PIDSearchText{width:100%}
    .ID{display:none}
    .PatientListID{display:none}
</style>
<script type="text/javascript" src="{% static 'css_js/jquery-3.6.0.min.js' %}"></script>
<script>
    function TimeReport(){
        PID=$("[name='Patient']:checked").next('label').children('.PatientListID').text()
        var scrollTop = $('#SubjectPatient').scrollTop()
        $.ajax({
            type: 'post',
            url: '{% url "pool:PatientList" %}', // this is the mapping between the url and view
            data:{
                'PID':PID,
                'scrollTop':scrollTop,
                'csrfmiddlewaretoken': window.CSRF_TOKEN
            },
            async: false,
            success:function (response){
                $('#PatientList').children('table').children('tbody').remove()
                $('#PatientList').children('table').append('<tbody class="thead-dark">')
                for(var i=0;i<response.PID.length;i++){

                    if(response.phase[i]==null){
                        phase='尚未定義'
                    }else{
                        phase=response.phase[i]
                    }
                    if(response.Check[i]=='Y') {

                        $('#PatientList').children('table').append('' +
                            '<tr>' +
                            '<td class="StudyDes">' + response.StudyDes[i] + '</td>' +
                            '<td class="PID">' +'<p class="PatientListID">'+ response.PID[i]+'</p>' +'<p class="ID">######</p>'+ '</td>' +
                            '<td class="MedExecTime">' + response.MedExecTime[i] + '</td>' +
                            '<td class="Item">' + response.Item[i] + '</td>' +
                            '<td class="phase">' + phase + '</td>' +
                            '<td style="display:none" class="StudyID">' + response.StudyID[i] + '</td>' +
                            '<td style="display:none" class="SeriesID">' + response.SeriesID[i] + '</td>' +
                            '<td style="display:none" class="SeriesDes">' + response.SeriesDes[i] + '</td>' +
                            '<td style="display:none" class="viewplane">' + response.viewplane[i] + '</td>' +
                            '<td><button onclick="link()" class="btn btn-primary" >Link</button></td>' +
                            '</tr>'
                        )
                    }else{
                        $('#PatientList').children('table').append('' +
                            '<tr>' +
                            '<td class="StudyDes">' + response.StudyDes[i] + '</td>' +
                            '<td class="PID">' +'<p class="PatientListID">'+ response.PID[i]+'</p>' +'<p class="ID">######</p>'+ '</td>' +
                            '<td class="MedExecTime">' + response.MedExecTime[i] + '</td>' +
                            '<td class="Item">' + response.Item[i] + '</td>' +
                            '<td class="phase">' + phase + '</td>' +

                            '<td>無此影像</td>' +
                            '</tr>'
                        )
                    }
                }
                $('#PatientList').children('table').append('</tbody>')
                if("{{de_identification}}"=='False'){
                    $('.ID').css('display','none')
                    $('.PatientListID').css('display','inline')
                }else{
                    $('.ID').css('display','inline')
                    $('.PatientListID').css('display','none')
                }
            }
        })
    }
    function link(){

        $.ajax({
            type: 'post',
            url: '{% url "pool:Session" %}', // this is the mapping between the url and view
            data:{
                'PID':$(event.target).parents('td').prevAll('.PID').children('.PatientListID').text(),
                'MedExecTime':$(event.target).parents('td').prevAll('.MedExecTime').html(),
                'Item':$(event.target).parents('td').prevAll('.StudyDes').html(),
                'StudyID':$(event.target).parents('td').prevAll('.StudyID').html(),
                'SeriesID':$(event.target).parents('td').prevAll('.SeriesID').html(),
                'SeriesDes':$(event.target).parents('td').prevAll('.SeriesDes').html(),
                'viewplane':$(event.target).parents('td').prevAll('.viewplane').html(),
                'Disease':$('#topic').val(),
                'csrfmiddlewaretoken': window.CSRF_TOKEN
            },
            success:function (response){
               window.location.href={% url 'DICOM:DICOM' %}
            }
        })
    }
    
    function PIDSearchFunction(){
        PID=$("#PIDSearchText").val()
        var scrollTop = $('#SubjectPatient').scrollTop()
        $("[name='Patient']:checked").prop('checked',false)
        $.ajax({
            type: 'post',
            url: '{% url "pool:PatientList" %}', // this is the mapping between the url and view
            data:{
                'PID':PID,
                'scrollTop':scrollTop,
                'csrfmiddlewaretoken': window.CSRF_TOKEN
            },
            async: false,
            success:function (response){
                $('#PatientList').children('table').children('tbody').remove()
                $('#PatientList').children('table').append('<tbody class="thead-dark">')

                for(var i=0;i<response.PID.length;i++){

                    if(response.phase[i]==null){
                        phase='尚未定義'
                    }else{
                        phase=response.phase[i]
                    }
                    if(response.Check[i]=='Y') {

                        $('#PatientList').children('table').append('' +
                            '<tr>' +
                            '<td class="StudyDes">' + response.StudyDes[i] + '</td>' +
                            '<td class="PID">' +'<p class="PatientListID">'+ response.PID[i]+'</p>' +'<p class="ID">######</p>'+ '</td>' +
                            '<td class="MedExecTime">' + response.MedExecTime[i] + '</td>' +
                            '<td class="Item">' + response.Item[i] + '</td>' +
                            '<td class="phase">' + phase + '</td>' +
                            '<td style="display:none" class="StudyID">' + response.StudyID[i] + '</td>' +
                            '<td style="display:none" class="SeriesID">' + response.SeriesID[i] + '</td>' +
                            '<td style="display:none" class="SeriesDes">' + response.SeriesDes[i] + '</td>' +
                            '<td><button onclick="link()" class="btn btn-primary" >Link</button></td>' +
                            '</tr>'
                        )
                    }else{
                        $('#PatientList').children('table').append('' +
                            '<tr>' +
                            '<td class="StudyDes">' + response.StudyDes[i] + '</td>' +
                            '<td class="PID">' +'<p class="PatientListID">'+ response.PID[i]+'</p>' +'<p class="ID">######</p>'+ '</td>' +
                            '<td class="MedExecTime">' + response.MedExecTime[i] + '</td>' +
                            '<td class="Item">' + response.Item[i] + '</td>' +
                            '<td class="phase">' + phase + '</td>' +

                            '<td>無此影像</td>' +
                            '</tr>'
                        )
                    }
                }
                $('#PatientList').children('table').append('</tbody>')
                $('#PIDSearchText').val('')
                if("{{de_identification}}"=='False'){
                    $('.ID').css('display','none')
                    $('.PatientListID').css('display','inline')
                }else{
                    $('.ID').css('display','inline')
                    $('.PatientListID').css('display','none')
                }
            }
        })
    }
    function filterChange(){
        $('#SubjectPatient').children('table').children('tr').remove()
        $('.loader').css('display','inline')
        getPatient()
    }

    function diseaseChange(){
        $('#SubjectPatient').children('table').children('tr').remove()
        getTopic()
    }

    function topicChange(){
        $('.loader').css('display','inline')
        $('#SubjectPatient').children('table').children('tr').remove()
        getPatient()
    }

    function getPatient(getPreviousAction){
        let topicNo =  $('#topic').val()
        if (topicNo!==null){
            $('#topic').prop('disabled',false)
            $('#filter').prop('disabled',false)
            $.ajax({
                type: 'post',
                url: '{% url "pool:SubjectPatientList" %}', // this is the mapping between the url and view
                data:{
                    'csrfmiddlewaretoken': window.CSRF_TOKEN,
                    'topic':topicNo,
                    'filter':$('#filter').val(),
                    'username':JSON.parse(document.getElementById('user_username').textContent),
                    'hospital':JSON.parse(document.getElementById('hospital').textContent)
                },
                success:function (response){
                    PatientListID=response.PatientListID
                    PID_previous_select=response.PID_previous_select
                    object=response.object
                },complete:function(){

                    $.ajax({
                        type: 'post',
                        url: '{% url "pool:Patient_num" %}', // this is the mapping between the url and view
                        data:{
                            'csrfmiddlewaretoken': window.CSRF_TOKEN,
                            'topic':$('#topic').val(),
                            'username':JSON.parse(document.getElementById('user_username').textContent),
                            'hospital':JSON.parse(document.getElementById('hospital').textContent)
                        },
                        success:function (response){
                            $('#filter option[value="0"]').text(`全部(${response.all})`)
                            $('#filter option[value="1"]').text(`尚未標註(${response.unlabeled})`)
                            $('#filter option[value="2"]').text(`已標註(${response.labeled})`)


                        },complete:function(){
                            $('#SubjectPatient').children('table').append(object)
                    
                            if("{{de_identification}}"=='False'){
                                $('.ID').css('display','none')
                                $('.PatientListID').css('display','inline')
                            }else{
                                $('.ID').css('display','inline')
                                $('.PatientListID').css('display','none')
                            }
                            $('.loader').css('display','none')
                            if(getPreviousAction){
                                $('#SubjectPatient').scrollTop(ScrollTop)
                                $('#Patient'+PatientListID.indexOf(PID_previous_select)).prop('checked',true)
                            }
                            TimeReport()
                        }
                    })
                }
            })
        }else{
            $('.loader').css('display','none')
            $('#topic').prop('disabled',true)
            $('#filter').prop('disabled',true)
        }
    }

    function getTopic(getPreviousAction=false){

        $.ajax({
            type: 'post',
            url: '{% url "pool:topic" %}', // this is the mapping between the url and view
            data:{
                'diseaseNo':$('#Disease').val(),
                'username':JSON.parse(document.getElementById('user_username').textContent),
                'csrfmiddlewaretoken': window.CSRF_TOKEN,

            },
            success:function (response){
                $('#topic').empty()
                for(var i=0;i<response.topicNo.length;i++){
                    $('#topic').append(`<option value="${response.topicNo[i]}">${response.topicName[i]}</option>`)
                }
                if(getPreviousAction){
                    $.ajax({
                        type: 'post',
                        url: '{% url "pool:getPreviousAction" %}', // this is the mapping between the url and view
                        data:{
                            'csrfmiddlewaretoken': window.CSRF_TOKEN,
                        },
                        success:function (response){
                            diseaseCode=response.diseaseCode
                            Filter=response.Filter
                            ScrollTop=response.ScrollTop
                            $('#topic').val(diseaseCode).prop('selected',true);
                            $('#filter').val(Filter).prop('selected',true)
                        }
                    })
                }
                getPatient(getPreviousAction)
            }
        })
    }

    function getDisease(){
        $.ajax({
            type: 'post',
            url: '{% url "pool:Disease" %}', // this is the mapping between the url and view
            data:{
                'csrfmiddlewaretoken': window.CSRF_TOKEN,
            },
            success:function (response){
                let diseaseNo = response.diseaseNo
                let diseaseName = response.diseaseName
                for(let i=0;i<diseaseNo.length;i++){
                    $('#Disease').append(`<option value="${diseaseNo[i]}">${diseaseName[i]}</option>`)
                }
            },complete:function(){
                getTopic(getPreviousAction=true)
            }
        }) 
    }

    $(document).ready(function (e) {
        $(document).get(0).oncontextmenu = function() {
            return false
        };

        $('body').on('mousedown',function (e){

            if(e.which==3){
                var x = e.originalEvent.x || e.originalEvent.layerX || 0;
                var y = e.originalEvent.y || e.originalEvent.layerY || 0;
                $("#menu").css('display', 'inline');
                $("#menu").css('left', x);
                $("#menu").css('top', y);
            }
        })
        $('.btnSetting').on('click',function(e){
            if(e.which==1){
                $("#menu").css('display', 'none');
            }
        })
        $('#PatientList').on('click',function(e){
            if(e.which==1){
                $("#menu").css('display', 'none');
            }
        })
        $('#SubjectPatient').on('click',function(e){
            if(e.which==1){
                $("#menu").css('display', 'none');
            }
        })

        $('#PIDSearch').on('shown.bs.modal', function () {
            // get the locator for an input in your modal. Here I'm focusing on
            // the element with the id of myInput
            $('#PIDSearchText').focus()
        })
        $('#PIDSearch').on('keypress', function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if(keycode == '13'){
              $('#search').click();   
            }
        });

        $('.loader').css('display','inline')

        getDisease()

        
        $('#Disease').on('change',diseaseChange)
        $('#topic').on('change',topicChange)
        $('#filter').on('change',filterChange)
    })
</script>

<body >
    {% include 'navBar.html' %}
    {{ user.username|json_script:"user_username" }}
    {{ user.last_name|json_script:"hospital" }}
    <div id="subjectFilter">
        <select class="form-select" aria-label="Default select example" id="Disease"></select>
        <select class="form-select" aria-label="Default select example" id="topic"></select>
        <select class="form-select" aria-label="Default select example" id='filter'>
            <option value='0'>全部</option>
            <option value='1'>尚未標註</option>
            <option value='2'>已標註</option>
        </select>
    </div>

    <div id="SubjectPatient">
        <table>
            <div class="loader">
                <div class="loader-inner pacman">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <span class="tooltip">
                    <p>載入中，請稍後‧‧‧</p>
                </span>
            </div>
        </table>
    </div>
    <div id="PatientList"><table class="table-striped"><thead><tr><td>病歷號</td><td >檢查日期</td><td >檢查項目</td><td>階段</td><td>連結</td></tr></thead></table></div>

    <div id="menu">
        <button type="button" class="btn btn-secondary btnSetting" data-bs-toggle="modal" data-bs-target="#PIDSearch" id="PIDSearchButton">病歷號查詢</button>
    </div>
    <div class="modal fade" id="PIDSearch"  aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">請輸入病歷號</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="InsertMessage" class="modal-body">
                <input type="text" id="PIDSearchText">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="search" onclick="PIDSearchFunction()">查詢</button>
            </div>
          </div>
        </div>
      </div>

</body>



</html>


{% endblock %}

