
{% load static%}

<!DOCTYPE html>
<html lang="zh-Hant" >
<head>
    <meta name="viewport" maximum-scale=1.0, user-scalable=0 content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- CSS only -->
    <link rel="stylesheet" href="{% static 'css_js/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/font-awesome.min.css' %}">


    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'css_js/loaders.css-master/loaders.css' %}">
    <!-- JS, Popper.js, and jQuery -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'css_js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'css_js/popper.min.js' %}"></script>
    <script src="{% static 'css_js/bootstrap-5.0.2-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'css_js/key_forbidden.js' %}"></script>
    <script src="{% static 'css_js/popper.min.js' %}"></script>
    <script src="{% static 'css_js/loaders.css-master/loaders.css.js' %}"></script>
    <script src="{% static 'css_js/jquery.tableToExcel.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    
    <title>CSMU_AIC</title>
    </head>

<style>
        /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;

    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    body{background:url("{% static 'image/texture.png' %}");-webkit-user-select:none; -moz-user-select:none;   -o-user-select:none; user-select:none;overflow: hidden}
    #left{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        margin:0px
    }
    #right{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin:0px
    }
    #switch{position:absolute;width:calc(33% - 20px);top:70px;height:calc(40px);left:10px;box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px;border-radius:10px}
    #topicFilter{display:none;overflow-y:auto;padding:10px;position:absolute;width:calc(33% - 20px);top:120px;height:calc(100% - 130px);left:10px;box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px;border-radius:10px}
    #cancerFilter{overflow-y:auto;padding:10px;position:absolute;width:calc(33% - 20px);top:120px;height:calc(100% - 130px);left:10px;box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px;border-radius:10px}
    #patient{position:absolute;width:calc(33% - 20px);top:70px;height:calc(100% - 80px);left:calc(33% + 10px);box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px;border-radius:10px}
    #setting{position:absolute;padding:10px;width:calc(34% - 20px);top:70px;height:calc(100% - 80px);right:10px;box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px;border-radius:10px}
    #submit{position:absolute;bottom:10px}
    .groupLabel{margin-bottom:0}
    #patient table{text-align:center}
    #tbody{height:calc(100% - 43px);overflow-y:auto}
    #header{margin:0px}
    .condition{border-bottom:2px solid #AAA;padding-bottom:10px;margin-bottom:10px}
    .block{border-bottom:2px solid #AAA;padding-bottom:10px;margin-bottom:10px}
    #candicateDownload{display:inline-block;z-index:2;top:6px;height:30px;line-height:15px;width:50%}
    #fileConversion{display:inline-block;z-index:2;top:6px;height:30px;line-height:15px;width:50%;}
    #pannel{display:flex}
</style>



<script>
    function excludeCheck(pannel){
        let targetClass=$(event.target).attr('class').split(' ')[1]
        let targetName=$(event.target).attr('name')
        if(targetClass=='pdConfirmed'){
            $(`#${pannel} input[name="${targetName}"][class="form-check-input diagChecked"]`).prop('checked',false)
            $(`#${pannel} input[name="${targetName}"][class="form-check-input treatChecked"]`).prop('checked',false)
            $(`#${pannel} input[name="${targetName}"][class="form-check-input ambiguousChecked"]`).prop('checked',false)
            $(`#${pannel} input[name="${targetName}"][class="form-check-input fuChecked"]`).prop('checked',false)
           
        }else{
            $(`#${pannel} input[name="${targetName}"][class="form-check-input pdConfirmed"]`).prop('checked',false)
        }
    }
    
    function getImageClinicalProcedures(diseaseID,caSeqNo,diagChecked,treatChecked,fuChecked,ambiguousChecked,pdConfirmed){
        $.ajax({
            type: 'post',
            url: '{% url "subjectPatientDecide:getImageClinicalProcedures" %}', // this is the mapping between the url and view
            data:{
                'diseaseID':diseaseID,
                'caSeqNo':caSeqNo,
                'diagChecked':diagChecked,
                'treatChecked':treatChecked,
                'fuChecked':fuChecked,
                'ambiguousChecked':ambiguousChecked,
                'pdConfirmed':pdConfirmed,
                'csrfmiddlewaretoken': window.CSRF_TOKEN
            },
            success:function (response){
                $('#clinicalPannel .col-md-12').empty()
                let clinicalObject = '<div class="accordion accordion-flush" id="accordionFlushExample">'
                    clinicalObject +=`
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading-clinicalProcedures">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-clinicalProcedures" aria-expanded="false" aria-controls="flush-collapse-clinicalProcedures">
                            Clinical Procedures
                        </button>
                    </h2>
                    <div id="flush-collapse-clinicalProcedures" class="accordion-collapse collapse" aria-labelledby="flush-heading-clinicalProcedures" data-bs-parent="#accordionFlushExample">`
                for(let j=0;j<response.procedureID.length;j++){
                    clinicalObject +=`<div class="accordion-body"><label for="procedureID_${response.procedureID[j]}">${response.procedureName[j]} : <code>${response.n_chartNo[j]}</code>人 </label><input type="checkbox" name="procedure" data-procedure="${response.procedureID[j]}" id="procedureID_${response.procedureID[j]}" onclick="getPatient('getPatientWithProcedure')"></div>`
                }        
                clinicalObject +=`</div></div>`
                
                clinicalObject +=`</div>`
                $('#clinicalPannel .col-md-12').html(clinicalObject)
                $('#clinicalPannel').attr('class','row g-3 block')
            }
        })
    }

    function getDisease(){
        $.ajax({
            type: 'post',
            url: '{% url "subjectPatientDecide:getDisease" %}', // this is the mapping between the url and view
            data:{
                'csrfmiddlewaretoken': window.CSRF_TOKEN
            },
            success:function (response){
                for(let i=0;i<response.diseaseID.length;i++){
                    $('.disease').append(`<option value=${response.diseaseID[i]}>${response.disease[i]}</option>`)
                }
            }
        })
    }
    function getCaSeq(){
        for(let i=1;i<=10;i++){$('#caSeqNo').append(`<option value=${i}>${i}</option>`)}
    }
    function getRegistTopicList(){
        $.ajax({
            type: 'post',
            url: '{% url "subjectPatientDecide:getRegistTopicList" %}', // this is the mapping between the url and view
            data:{
                'csrfmiddlewaretoken': window.CSRF_TOKEN
            },
            success:function (response){
                for(let i=0;i<response.topicName.length;i++){
                    $('#registTopicList').append(`<option value="${response.topicName[i]}">`)
                }
            }
        })
    }
    function getPatientWithAdvanceCondition(){
        let diseaseID = $('.disease').map(function(){return $(this).val()}).get()
        let caSeqNo = $('.caSeqNo').map(function(){return $(this).val()}).get()
        let diagChecked = $('#cancerFilter .diagChecked').map(function(){return Number($(this).prop('checked'))}).get()
        let treatChecked = $('#cancerFilter .treatChecked').map(function(){return Number($(this).prop('checked'))}).get()
        let fuChecked = $('#cancerFilter .fuChecked').map(function(){return Number($(this).prop('checked'))}).get()
        let ambiguousChecked = $('#cancerFilter .ambiguousChecked').map(function(){return Number($(this).prop('checked'))}).get()
        let pdConfirmed = $('#cancerFilter .pdConfirmed').map(function(){return Number($(this).prop('checked'))}).get()
        let medType1 = $('.medType1').map(function(){return $(this).val()}).get()
        let medType2 = $('.medType2').map(function(){return $(this).val()}).get()
        let diffDay = $('.diffDate').map(function(){return $(this).val()}).get()

        $('#setting').attr('data-diseaseID',diseaseID)
        $('#setting').attr('data-caSeqNo',caSeqNo)
        $('#setting').attr('data-diagChecked',diagChecked)
        $('#setting').attr('data-treatChecked',treatChecked)
        $('#setting').attr('data-fuChecked',fuChecked)
        $('#setting').attr('data-ambiguousChecked',ambiguousChecked)
        $('#setting').attr('data-pdConfirmed',pdConfirmed)
        let url = '{% url "subjectPatientDecide:getPatientWithAdvanceCondition" %}'
        $.ajax({
            type: 'post',
            url: url, // this is the mapping between the url and view
            data:{
                'diseaseID':diseaseID,
                'caSeqNo':caSeqNo,
                'diagChecked':diagChecked,
                'treatChecked':treatChecked,
                'fuChecked':fuChecked,
                'ambiguousChecked':ambiguousChecked,
                'pdConfirmed':pdConfirmed,
                'medType1':medType1,
                'medType2':medType2,
                'diffDay':diffDay,
                'csrfmiddlewaretoken': window.CSRF_TOKEN
            },
            success:function (response){
                $('#patient tbody').empty()
                $('#n_chartNo').html(`${response.chartNo.length}人`)
                for(let i=0;i<response.chartNo.length;i++){
                    $('#patient tbody').append(`<tr><td colspan=2>${response.chartNo[i]}</td></tr>`)
                }
            }
        })
    }
    function getTopicPatient(){
        let topicNo = $('#topic').val()
        if(topicNo!=-9999){
            let url = '{% url "subjectPatientDecide:getTopicPatient" %}'
            $.ajax({
                type: 'post',
                url: url, // this is the mapping between the url and view
                data:{
                    'topicNo':topicNo,
                    'csrfmiddlewaretoken': window.CSRF_TOKEN
                },
                success:function (response){
                    $('#patient tbody').empty()
                    $('#n_chartNo').html(`${response.chartNo.length}人`)
                    for(let i=0;i<response.chartNo.length;i++){
                        $('#patient tbody').append(`<tr><td colspan=2>${response.chartNo[i]}</td></tr>`)
                    }
                }
            })            
        }else{
            $('#patient tbody').empty()
            $('#n_chartNo').html(`???人`)
        }
    }
    function getPatient(getPatientMethod){
        let diseaseID = $('.disease').map(function(){return $(this).val()}).get()
        let caSeqNo = $('.caSeqNo').map(function(){return $(this).val()}).get()
        let diagChecked = $('#cancerFilter .diagChecked').map(function(){return Number($(this).prop('checked'))}).get()
        let treatChecked = $('#cancerFilter .treatChecked').map(function(){return Number($(this).prop('checked'))}).get()
        let fuChecked = $('#cancerFilter .fuChecked').map(function(){return Number($(this).prop('checked'))}).get()
        let ambiguousChecked = $('#cancerFilter .ambiguousChecked').map(function(){return Number($(this).prop('checked'))}).get()
        let pdConfirmed = $('#cancerFilter .pdConfirmed').map(function(){return Number($(this).prop('checked'))}).get()
        let medType = $('input[name="medType"]:checked').map(function(){return parseInt($(this).attr('data-medType'))}).get()
        let procedure = $('input[name="procedure"]:checked').map(function(){return parseInt($(this).attr('data-procedure'))}).get()
        
        $('#setting').attr('data-diseaseID',diseaseID)
        $('#setting').attr('data-caSeqNo',caSeqNo)
        $('#setting').attr('data-diagChecked',diagChecked)
        $('#setting').attr('data-treatChecked',treatChecked)
        $('#setting').attr('data-fuChecked',fuChecked)
        $('#setting').attr('data-ambiguousChecked',ambiguousChecked)
        $('#setting').attr('data-pdConfirmed',pdConfirmed)

        let url = ''
        if(getPatientMethod=='getPatient'){
            url = '{% url "subjectPatientDecide:getPatient" %}'
        }else if(getPatientMethod=='getPatientWithProcedure'){
            if(procedure.length==0){
                url = '{% url "subjectPatientDecide:getPatient" %}'
            }else{
                url = '{% url "subjectPatientDecide:getPatientWithProcedure" %}'
            }
        }else if(getPatientMethod=='getPatientWithMedType'){
            if(medType.length==0 ){
                url = '{% url "subjectPatientDecide:getPatient" %}'
            }else{
                url = '{% url "subjectPatientDecide:getPatientWithMedType" %}'
            }
        }
        if(procedure.length>0 & medType.length>0){
            url = '{% url "subjectPatientDecide:getPatientWithMedTypeAndProcedure" %}'
        }

        $.ajax({
            type: 'post',
            url: url, // this is the mapping between the url and view
            data:{
                'diseaseID':diseaseID,
                'caSeqNo':caSeqNo,
                'diagChecked':diagChecked,
                'treatChecked':treatChecked,
                'fuChecked':fuChecked,
                'ambiguousChecked':ambiguousChecked,
                'pdConfirmed':pdConfirmed,
                'medType':medType,
                'procedure':procedure,
                'csrfmiddlewaretoken': window.CSRF_TOKEN
            },
            success:function (response){
                $('#patient tbody').empty()
                $('#n_chartNo').html(`${response.chartNo.length}人`)
                for(let i=0;i<response.chartNo.length;i++){
                    $('#patient tbody').append(`<tr><td colspan=2>${response.chartNo[i]}</td></tr>`)
                }
            },complete:function(){
                if(getPatientMethod=='getPatient'){
                    getMedType(diseaseID,caSeqNo,diagChecked,treatChecked,fuChecked,ambiguousChecked,pdConfirmed)
                    getImageClinicalProcedures(diseaseID,caSeqNo,diagChecked,treatChecked,fuChecked,ambiguousChecked,pdConfirmed)
                }
            }
        })
        

    }
    function addCorrelationPatientListAndAnnotation(){
        let diseaseID = $('#setting').attr('data-diseaseID')
        let caSeqNo = $('#setting').attr('data-caSeqNo')
        let diagChecked = $('#setting').attr('data-diagChecked')
        let treatChecked = $('#setting').attr('data-treatChecked')
        let fuChecked = $('#setting').attr('data-fuChecked')
        let ambiguousChecked = $('#setting').attr('data-ambiguousChecked')
        let pdConfirmed = $('#setting').attr('data-pdConfirmed')
        let topicName = $('#setting #registTopic').val()
        let chartNo = $('#tbody table tbody tr').map(function(){return $(this).children('td').html()}).get()
        console.log(chartNo)
        if(topicName!=''){
            $.ajax({
                type: 'post',
                url: '{% url "subjectPatientDecide:addCorrelationPatientListAndAnnotation" %}', // this is the mapping between the url and view
                data:{
                    'diseaseID':diseaseID,
                    'caSeqNo':caSeqNo,
                    'diagChecked':diagChecked,
                    'treatChecked':treatChecked,
                    'fuChecked':fuChecked,
                    'ambiguousChecked':ambiguousChecked,
                    'pdConfirmed':pdConfirmed,
                    'topicName':topicName,
                    'chartNo':chartNo,
                    'csrfmiddlewaretoken': window.CSRF_TOKEN
                },
                success:function (response){
                    Swal.fire({
                        title: '',
                        html: '新增成功',
                        icon: 'success',
                        timer: 1000,
                        showConfirmButton: false,
                        timerProgressBar: true,
                    })
                    getTopic()
                    getRegistTopicList()
                },
                error:function(){
                    Swal.fire({
                        title: '',
                        html: '新增失敗',
                        icon: 'error',
                        timer: 1000,
                        showConfirmButton: false,
                        timerProgressBar: true,
                    })
                }
            })
        }
    }
    function deleteCorrelationPatientListAndAnnotation(){
        let diseaseID = $('#setting').attr('data-diseaseID')
        let caSeqNo = $('#setting').attr('data-caSeqNo')
        let diagChecked = $('#setting').attr('data-diagChecked')
        let treatChecked = $('#setting').attr('data-treatChecked')
        let fuChecked = $('#setting').attr('data-fuChecked')
        let ambiguousChecked = $('#setting').attr('data-ambiguousChecked')
        let pdConfirmed = $('#setting').attr('data-pdConfirmed')
        let topicName = $('#setting #registTopic').val()
        if(topicName!=''){
            $.ajax({
                type: 'post',
                url: '{% url "subjectPatientDecide:deleteCorrelationPatientListAndAnnotation" %}', // this is the mapping between the url and view
                data:{
                    'diseaseID':diseaseID,
                    'caSeqNo':caSeqNo,
                    'diagChecked':diagChecked,
                    'treatChecked':treatChecked,
                    'fuChecked':fuChecked,
                    'ambiguousChecked':ambiguousChecked,
                    'pdConfirmed':pdConfirmed,
                    'topicName':topicName,
                    'csrfmiddlewaretoken': window.CSRF_TOKEN
                },
                success:function (response){
                    Swal.fire({
                        title: '',
                        html: '刪除成功',
                        icon: 'success',
                        timer: 1000,
                        showConfirmButton: false,
                        timerProgressBar: true,
                    })
                    getRegistTopicList()
                }
            })
        }
    }
    function addMenu(){
        let num = $('.condition').length-1
        let cloneObject = $('.condition').eq(num).clone()
        $('.condition').eq(num).after(cloneObject)
        let new_num = $('.condition').length-1
        $('.condition').eq(new_num).children('.statusFilter').map(function(){
            let id = $(this).children('div').children('input').attr('id').split('_')[0]
            $(this).children('div').children('input').attr('id',`${id}_${new_num+1}`)
            $(this).children('div').children('label').attr('for',`${id}_${new_num+1}`)
        })
    }
    function addAdvanceMenu(){
        let num = $('.condition').length-1
        let cloneObject = $('.condition').eq(num).clone()
        $('.condition').eq(num).after(cloneObject)
        let new_num = $('.condition').length-1
        $('.condition').eq(new_num).children('.statusFilter').map(function(){
            let id = $(this).children('div').children('input').attr('id').split('_')[0]
            $(this).children('div').children('input').attr('id',`${id}_${new_num+1}`)
            $(this).children('div').children('label').attr('for',`${id}_${new_num+1}`)
        })
    }
    function getMedType(diseaseID,caSeqNo,diagChecked,treatChecked,fuChecked,ambiguousChecked,pdConfirmed){
        $.ajax({
            type: 'post',
            url: '{% url "subjectPatientDecide:getMedType" %}', // this is the mapping between the url and view
            data:{
                'diseaseID':diseaseID,
                'caSeqNo':caSeqNo,
                'diagChecked':diagChecked,
                'treatChecked':treatChecked,
                'fuChecked':fuChecked,
                'ambiguousChecked':ambiguousChecked,
                'pdConfirmed':pdConfirmed,
                'csrfmiddlewaretoken': window.CSRF_TOKEN
            },
            success:function (response){
                $('#medTypePannel .col-md-12').empty()
                let medTypeObject = '<div class="accordion accordion-flush" id="accordionFlushExample">'
                for(let i=0;i<response.groupNo.length;i++){
                    var indices = [];
                    var idx = response.medTypeGroupNo.indexOf(response.groupNo[i]);
                    while (idx != -1) {
                        indices.push(idx);
                        idx = response.medTypeGroupNo.indexOf(response.groupNo[i], idx + 1);
                    }
                    medTypeObject +=`
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading${response.groupNo[i]}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse${response.groupNo[i]}" aria-expanded="false" aria-controls="flush-collapse${response.groupNo[i]}">
                                ${response.groupName[i]}
                            </button>
                        </h2>
                        <div id="flush-collapse${response.groupNo[i]}" class="accordion-collapse collapse" aria-labelledby="flush-heading${response.groupNo[i]}" data-bs-parent="#accordionFlushExample">`
                    for(let j=0;j<indices.length;j++){
                        medTypeObject +=`<div class="accordion-body"><label for="medType_${response.medType[indices[j]]}">${response.typeName[indices[j]]} : <code>${response.n_chartNo[indices[j]]}</code>人 </label><input type="checkbox" name="medType" data-medType="${response.medType[indices[j]]}" id="medType_${response.medType[indices[j]]}" onclick="getPatient('getPatientWithMedType')"></div>`
                    }        
                    medTypeObject +=`</div></div>`
                }
                medTypeObject +=`</div>`
                $('#medTypePannel .col-md-12').html(medTypeObject)
                $('#medTypePannel').attr('class','row g-3 block')

                $('#imageEventDate .medType1').empty()
                $('#imageEventDate .medType2').empty()
                for(i=0;i<response.medType.length;i++){
                    $('#imageEventDate .medType1').eq(0).append(`<option value=${response.medType[i]}>${response.typeName[i]}</option>`)
                    $('#imageEventDate .medType2').eq(0).append(`<option value=${response.medType[i]}>${response.typeName[i]}</option>`)
                }
            }
        })
    }

    function candicateDownload(){
        let candicate = $('#tbody table tbody tr').map(function(){return $(this).children('td').html()}).get()
        $.ajax({
            type: 'post',
            url: '{% url "subjectPatientDecide:uploadCandicate" %}', // this is the mapping between the url and view
            data:{
                'candicate':candicate,
                'csrfmiddlewaretoken': window.CSRF_TOKEN
            },
            success:function (response){
                window.location.href="{% url 'subjectPatientDecide:downloadCSV' %}"
            }
        })
    }

    function fileConversion(){
        let candicate = $('#tbody table tbody tr').map(function(){return $(this).children('td').html()}).get()
        $.ajax({
            type: 'post',
            url: '{% url "subjectPatientDecide:fileConversion" %}', // this is the mapping between the url and view
            data:{
                'candicate':candicate,
                'csrfmiddlewaretoken': window.CSRF_TOKEN
            },success:function(response){
                Swal.fire({
                    title: '',
                    html: `轉檔中，共有${response.num}份影像，預估${response.num}分鐘後完成轉檔`,
                    icon: 'success',
                    showConfirmButton: true,
                    timerProgressBar: true,
                })
            }
        })
    }

    function imageEventDate(){
        for(let i =1;i<=180;i++){
            $('#imageEventDate .diffDate').eq(0).append(`<option value=${i}>${i}天</option>`)
        }

    }

    function cancershow(){
        $('#cancerFilter').css('display','inline')
        $('#topicFilter').css('display','none')
    }

    function topicshow(){
        $('#cancerFilter').css('display','none')
        $('#topicFilter').css('display','inline')
    }

    function indexOfAll(array, searchItem) {
        var i = array.indexOf(searchItem),
            indexes = [];
        while (i !== -1) {
          indexes.push(i);
          i = array.indexOf(searchItem, ++i);
        }
        return indexes;
    }

    function getTopic(){
        $.ajax({
            type: 'post',
            url: '{% url "subjectPatientDecide:getTopic" %}', // this is the mapping between the url and view
            data:{
                'csrfmiddlewaretoken': window.CSRF_TOKEN
            },
            success:function (response){
                objectArray='<option value=-9999>請選擇研究主題</option>'
                for(let i=0;i<response.disease_unique.length;i++){
                    objectArray += `<optgroup label="${response.disease_unique[i]}">`
                    indexes = indexOfAll(response.disease,response.disease_unique[i])
                    for(let j=0;j<indexes.length;j++){
                        objectArray +=`<option value="${response.topicNo[indexes[j]]}">${response.topicName[indexes[j]]}</option>`
                    }
                    objectArray += `</optgroup>`
                }
                $('#topic').empty()
                $('#topic').append(objectArray)
                
            }
        })
    }
    $(document).ready(function () {
        getDisease()
        getTopic()
        imageEventDate()
        getCaSeq()
        getRegistTopicList()
        
    })
</script>
<body >
{{ user.username|json_script:"user_username" }}
{{ user.last_name|json_script:"hospital" }}
{% include 'navBar.html' %}


</body>
    <div id="switch" class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary" id="left" for="btnradio1" onclick="cancershow()">癌症</label>
    
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary" id="right" for="btnradio2" onclick="topicshow()">研究主題</label>
    </div>
    <div id="cancerFilter">
        <div class="row g-3">
            <div class="col-md-6">
                <label for="disease" class="form-label">癌症</label>
              </div>
              <div class="col-md-6">
                  <label for="caSeqNo" class="form-label">序列</label>
              </div>
        </div>
        <div class="row g-3 condition">
            <div class="col-md-6">
              <select class="form-control disease" id="disease"></select>
            </div>
            <div class="col-md-6">
                <select class="form-control caSeqNo" id="caSeqNo"></select>
            </div>
            <div class="col-md-2 statusFilter">
                <div class="form-check">
                    <input type="checkbox" id="statusFilter1_1" onclick="excludeCheck('cancerFilter');" class="form-check-input diagChecked" name="disappear"><label class="form-check-label" for="statusFilter1_1">Diag</label>
                </div>
            </div>
            <div class="col-md-2 statusFilter">
                <div class="form-check">
                    <input type="checkbox" id="statusFilter2_1" onclick="excludeCheck('cancerFilter');" class="form-check-input treatChecked" name="disappear"><label class="form-check-label" for="statusFilter2_1">Treat</label>
                </div>
            </div>
            <div class="col-md-2 statusFilter">
                <div class="form-check">
                    <input type="checkbox" id="statusFilter5_1" onclick="excludeCheck('cancerFilter');" class="form-check-input fuChecked" name="disappear"><label class="form-check-label" for="statusFilter5_1">F/U</label>
                </div>
            </div>
            <div class="col-md-3 statusFilter">
                <div class="form-check">
                    <input type="checkbox" id="statusFilter4_1" onclick="excludeCheck('cancerFilter');" class="form-check-input ambiguousChecked" name="disappear"><label class="form-check-label" for="statusFilter4_1">Ambiguous</label>
                </div>
            </div>
            <div class="col-md-3 statusFilter">
                <div class="form-check">
                    <input type="checkbox" id="statusFilter6_1" onclick="excludeCheck('cancerFilter');" class="form-check-input pdConfirmed" name="disappear"><label class="form-check-label" for="statusFilter6_1">Exclude</label>
                </div>
            </div>
        </div>
        <div class="row g-3 block">
            <div class="col-md-6">
                <button type="button" onclick="addMenu()" class="form-control btn btn-outline-primary">+</button> 
            </div>
            <div class="col-md-6">
                <button class="form-control btn btn-primary" onclick="getPatient('getPatient')">搜尋</button>
            </div>
        </div>
        <div class="row g-3" id='medTypePannel'>
            <div class="col-md-12">
                
            </div>
        </div>
        <div class="row g-3" id='clinicalPannel'>
            <div class="col-md-12">
                
            </div>
        </div>
        <button class="btn btn-primary form-control" id="advanceSearch" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            進階搜尋
        </button>
        
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">進階搜尋功能</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" id="imageEventDate">
            <div class="row g-3 block">
                <div class="col-md-12">
                    <label class="form-label">影像+事件(?天)</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label">前</label>
                    <select class="form-control medType1" id="medType1"></select>
                </div>
                <div class="col-md-4">
                    <label class="form-label">後</label>
                    <select class="form-control medType2" id="medType2"></select>
                </div>
                <div class="col-md-4">
                    <label class="form-label">相隔天數</label>
                    <select class="form-control diffDate" id="diffDate"></select>
                </div>
            </div>
            <div class="row g-3 block">
                <div class="col-md-12">
                    <button class="form-control btn btn-primary" data-bs-dismiss="offcanvas" onclick="getPatientWithAdvanceCondition()">查詢</button>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div id="topicFilter">
        <div class="row g-3">
            <div class="col-md-6">
                <label for="topic" class="form-label">研究主題</label>
              </div>
        </div>
        <div class="row g-3 condition">
            <div class="col-md-12">
              <select class="form-control topic" onchange="getTopicPatient()" id="topic">

              </select>
            </div>
            <div class="col-md-12">
                <button class="form-control btn btn-primary" data-bs-dismiss="offcanvas" onclick="">查詢</button>
            </div>
        </div>
    </div>

    <div id="patient">
        <div id="pannel">
            <button type="button" class="btn btn-warning" id="fileConversion" onclick="fileConversion()">影像轉檔</button>
            <button type="button" class="btn btn-primary" id="candicateDownload" onclick="candicateDownload()">下載</button>
        </div>
        <table class="table table-hover" id='header'>
            <thead><th>ChartNo</th><th id="n_chartNo">???人</th></thead>
        </table>
        <div id="tbody">
            <table class="table table-hover table-striped">
                <tbody ></tbody>
            </table>
        </div>
    </div>
    <div id="setting" >
        <div class="row g-3">
            <div class="col-md-12">
                <label for="registTopic" class="form-label">主題</label>
                <input type="text" class="form-control" id="registTopic" list="registTopicList">
                <datalist id="registTopicList" ></datalist>
            </div>
            <div class="col-md-6">
                <button class="form-control btn btn-danger btn-sm" onclick="deleteCorrelationPatientListAndAnnotation()">刪除</button>
            </div>
            <div class="col-md-6">
                <button class="form-control btn btn-primary btn-sm" onclick="addCorrelationPatientListAndAnnotation()">新增</button>
            </div>
            
        </div>
    </div>
</body>
</html>



