
{% load static%}

<!DOCTYPE html>
<html lang="zh-Hant" >
<head>
    <meta name="viewport" maximum-scale=1.0, user-scalable=0 content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- CSS only -->
    <link rel="stylesheet" href="{% static 'css_js/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/font-awesome.min.css' %}">


    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'css_js/loaders.css-master/loaders.css' %}">
    <!-- JS, Popper.js, and jQuery -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'css_js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'css_js/popper.min.js' %}"></script>
    <script src="{% static 'css_js/bootstrap-5.0.2-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'css_js/key_forbidden.js' %}"></script>
    <script src="{% static 'css_js/popper.min.js' %}"></script>
    <script src="{% static 'css_js/loaders.css-master/loaders.css.js' %}"></script>
    <title>DICOM</title>
    </head>

<style>
        /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;

    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    body{background:url("{% static 'image/texture.png' %}");-webkit-user-select:none; -moz-user-select:none;   -o-user-select:none; user-select:none;overflow: hidden}
    #filter{overflow-y:auto;padding:10px;position:absolute;width:calc(33% - 20px);top:70px;height:calc(100% - 80px);left:10px;box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px;border-radius:10px}
    #patient{position:absolute;width:calc(33% - 20px);top:70px;height:calc(100% - 80px);left:calc(33% + 10px);box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px;border-radius:10px}
    #setting{position:absolute;padding:10px;width:calc(34% - 20px);top:70px;height:calc(100% - 80px);right:10px;box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px;border-radius:10px}
    #submit{position:absolute;bottom:10px}
    .groupLabel{margin-bottom:0}
    #patient table{text-align:center}
    #tbody{height:calc(100% - 43px);overflow-y:auto}
    #header{margin:0px}
</style>


<script type="text/javascript" src="{% static 'css_js/jquery-3.6.0.min.js' %}"></script>
<script>
    function excludeCheck(pannel){
        let targetClass=$(event.target).attr('class').split(' ')[1]
        let targetName=$(event.target).attr('name')
        if(targetClass=='pdConfirmed'){
            $(`#${pannel} input[name="${targetName}"][class="form-check-input diagChecked"]`).prop('checked',false)
            $(`#${pannel} input[name="${targetName}"][class="form-check-input treatChecked"]`).prop('checked',false)
            $(`#${pannel} input[name="${targetName}"][class="form-check-input ambiguousChecked"]`).prop('checked',false)
            $(`#${pannel} input[name="${targetName}"][class="form-check-input fuChecked"]`).prop('checked',false)
           
        }else{
            $(`#${pannel} input[name="${targetName}"][class="form-check-input pdConfirmed"]`).prop('checked',false)
        }
    }
    
    function getImageClinicalProcedures(){
        $.ajax({
            type: 'post',
            url: '{% url "subjectPatientDecide:getImageClinicalProcedures" %}', // this is the mapping between the url and view
            data:{
                'csrfmiddlewaretoken': window.CSRF_TOKEN
            },
            success:function (response){
                for(let i=0;i<response.procedureID.length;i++){
                    $('#imageClinicalProcedures').append(`<div class="form-check"><input type="checkbox" id="${response.procedureID[i]}" class="form-check-input" data-procedureID=${response.procedureID[i]}><label class="form-check-label" for="${response.procedureID[i]}">${response.procedureName[i]}</label></div>`)
                }
            }
        })
    }

    function getDisease(){
        $.ajax({
            type: 'post',
            url: '{% url "subjectPatientDecide:getDisease" %}', // this is the mapping between the url and view
            data:{
                'csrfmiddlewaretoken': window.CSRF_TOKEN
            },
            success:function (response){
                for(let i=0;i<response.diseaseID.length;i++){
                    $('#disease').append(`<option value=${response.diseaseID[i]}>${response.disease[i]}</option>`)
                }
            }
        })
    }
    function getCaSeq(){
        for(let i=1;i<=10;i++){$('#caSeqNo').append(`<option value=${i}>${i}</option>`)}
    }
    function getRegistTopicList(){
        $.ajax({
            type: 'post',
            url: '{% url "subjectPatientDecide:getRegistTopicList" %}', // this is the mapping between the url and view
            data:{
                'csrfmiddlewaretoken': window.CSRF_TOKEN
            },
            success:function (response){
                for(let i=0;i<response.topicName.length;i++){
                    $('#registTopicList').append(`<option value="${response.topicName[i]}">`)
                }
            }
        })
    }
    function getPatient(){
        let diseaseID = $('#disease').val()
        let caSeqNo = $('#caSeqNo').val()
        let diagChecked = Number($('#filter .diagChecked').prop('checked'))
        let treatChecked = Number($('#filter .treatChecked').prop('checked'))
        let fuChecked = Number($('#filter .fuChecked').prop('checked'))
        let ambiguousChecked = Number($('#filter .ambiguousChecked').prop('checked'))
        let pdConfirmed = Number($('#filter .pdConfirmed').prop('checked'))

        $.ajax({
            type: 'post',
            url: '{% url "subjectPatientDecide:getPatient" %}', // this is the mapping between the url and view
            data:{
                'diseaseID':diseaseID,
                'caSeqNo':caSeqNo,
                'diagChecked':diagChecked,
                'treatChecked':treatChecked,
                'fuChecked':fuChecked,
                'ambiguousChecked':ambiguousChecked,
                'pdConfirmed':pdConfirmed,
                'csrfmiddlewaretoken': window.CSRF_TOKEN
            },
            success:function (response){
                $('#patient tbody').empty()
                $('#n_chartNo').html(`${response.chartNo.length}人`)
                for(let i=0;i<response.chartNo.length;i++){
                    $('#patient tbody').append(`<tr><td colspan=2>${response.chartNo[i]}</td></tr>`)
                }
                $('#setting').attr('data-diseaseID',diseaseID)
                $('#setting').attr('data-caSeqNo',caSeqNo)
                $('#setting').attr('data-diagChecked',diagChecked)
                $('#setting').attr('data-treatChecked',treatChecked)
                $('#setting').attr('data-fuChecked',fuChecked)
                $('#setting').attr('data-ambiguousChecked',ambiguousChecked)
                $('#setting').attr('data-pdConfirmed',pdConfirmed)
            }
        })
    }
    function addCorrelationPatientListAndAnnotation(){
        let diseaseID = $('#setting').attr('data-diseaseID')
        let caSeqNo = $('#setting').attr('data-caSeqNo')
        let diagChecked = $('#setting').attr('data-diagChecked')
        let treatChecked = $('#setting').attr('data-treatChecked')
        let fuChecked = $('#setting').attr('data-fuChecked')
        let ambiguousChecked = $('#setting').attr('data-ambiguousChecked')
        let pdConfirmed = $('#setting').attr('data-pdConfirmed')
        let topicName = $('#setting #registTopic').val()
        if(topicName!=''){
            $.ajax({
                type: 'post',
                url: '{% url "subjectPatientDecide:addCorrelationPatientListAndAnnotation" %}', // this is the mapping between the url and view
                data:{
                    'diseaseID':diseaseID,
                    'caSeqNo':caSeqNo,
                    'diagChecked':diagChecked,
                    'treatChecked':treatChecked,
                    'fuChecked':fuChecked,
                    'ambiguousChecked':ambiguousChecked,
                    'pdConfirmed':pdConfirmed,
                    'topicName':topicName,
                    'csrfmiddlewaretoken': window.CSRF_TOKEN
                },
                success:function (response){
                    Swal.fire({
                        title: '',
                        html: '新增成功',
                        icon: 'success',
                        timer: 1000,
                        showConfirmButton: false,
                        timerProgressBar: true,
                    })
                    getRegistTopicList()
                },
                error:function(){
                    Swal.fire({
                        title: '',
                        html: '新增失敗',
                        icon: 'error',
                        timer: 1000,
                        showConfirmButton: false,
                        timerProgressBar: true,
                    })
                }
            })
        }
    }
    function deleteCorrelationPatientListAndAnnotation(){
        let diseaseID = $('#setting').attr('data-diseaseID')
        let caSeqNo = $('#setting').attr('data-caSeqNo')
        let diagChecked = $('#setting').attr('data-diagChecked')
        let treatChecked = $('#setting').attr('data-treatChecked')
        let fuChecked = $('#setting').attr('data-fuChecked')
        let ambiguousChecked = $('#setting').attr('data-ambiguousChecked')
        let pdConfirmed = $('#setting').attr('data-pdConfirmed')
        let topicName = $('#setting #registTopic').val()
        if(topicName!=''){
            $.ajax({
                type: 'post',
                url: '{% url "subjectPatientDecide:deleteCorrelationPatientListAndAnnotation" %}', // this is the mapping between the url and view
                data:{
                    'diseaseID':diseaseID,
                    'caSeqNo':caSeqNo,
                    'diagChecked':diagChecked,
                    'treatChecked':treatChecked,
                    'fuChecked':fuChecked,
                    'ambiguousChecked':ambiguousChecked,
                    'pdConfirmed':pdConfirmed,
                    'topicName':topicName,
                    'csrfmiddlewaretoken': window.CSRF_TOKEN
                },
                success:function (response){
                    Swal.fire({
                        title: '',
                        html: '刪除成功',
                        icon: 'success',
                        timer: 1000,
                        showConfirmButton: false,
                        timerProgressBar: true,
                    })
                    getRegistTopicList()
                }
            })
        }
    }
    $(document).ready(function () {
        getDisease()
        //getImageClinicalProcedures()
        getCaSeq()
        getRegistTopicList()
    })
</script>
<body >
{{ user.username|json_script:"user_username" }}
{{ user.last_name|json_script:"hospital" }}
{% include 'navBar.html' %}


</body>
    <div id="filter">
        <div class="row g-3">
            <div class="col-md-12">
              <label for="disease" class="form-label">癌症</label>
              <select class="form-control" id="disease"></select>
            </div>
            <div class="col-md-12">
                <label for="caSeqNo" class="form-label">序列</label>
                <select class="form-control" id="caSeqNo"></select>
              </div>
            <label class="form-label groupLabel">Status</label>
            <div class="col-md-2 statusFilter">
                <div class="form-check">
                    <input type="checkbox" id="statusFilter1" onclick="excludeCheck('filter');" class="form-check-input diagChecked" name="disappear"><label class="form-check-label" for="statusFilter1">Diag</label>
                </div>
            </div>
            <div class="col-md-2 statusFilter">
                <div class="form-check">
                    <input type="checkbox" id="statusFilter2" onclick="excludeCheck('filter');" class="form-check-input treatChecked" name="disappear"><label class="form-check-label" for="statusFilter2">Treat</label>
                </div>
            </div>
            <div class="col-md-2 statusFilter">
                <div class="form-check">
                    <input type="checkbox" id="statusFilter5" onclick="excludeCheck('filter');" class="form-check-input fuChecked" name="disappear"><label class="form-check-label" for="statusFilter5">F/U</label>
                </div>
            </div>
            <div class="col-md-3 statusFilter">
                <div class="form-check">
                    <input type="checkbox" id="statusFilter4" onclick="excludeCheck('filter');" class="form-check-input ambiguousChecked" name="disappear"><label class="form-check-label" for="statusFilter4">Ambiguous</label>
                </div>
            </div>
            <div class="col-md-3 statusFilter">
                <div class="form-check">
                    <input type="checkbox" id="statusFilter6" onclick="excludeCheck('filter');" class="form-check-input pdConfirmed" name="disappear"><label class="form-check-label" for="statusFilter6">Exclude</label>
                </div>
            </div>
            <div class="col-md-12" id="imageClinicalProcedures"></div>
            <div class="col-md-12" >
                <button class="form-control btn btn-primary" onclick="getPatient()">Submit</button>
            </div>
            
          </div>
          
    </div>
    <div id="patient">
        <table class="table table-hover" id='header'>
            <thead><th>ChartNo</th><th id="n_chartNo">???人</th></thead>
        </table>
        <div id="tbody">
            <table class="table table-hover table-striped">
                <tbody ></tbody>
            </table>
        </div>
    </div>
    <div id="setting" >
        <div class="row g-3">
            <div class="col-md-12">
                <label for="registTopic" class="form-label">主題</label>
                <input type="text" class="form-control" id="registTopic" list="registTopicList">
                <datalist id="registTopicList" ></datalist>
            </div>
            <div class="col-md-6">
                <button class="form-control btn btn-danger btn-sm" onclick="deleteCorrelationPatientListAndAnnotation()">Delete</button>
            </div>
            <div class="col-md-6">
                <button class="form-control btn btn-primary btn-sm" onclick="addCorrelationPatientListAndAnnotation()">Submit</button>
            </div>
        </div>
    </div>
</body>
</html>



