

{% load static%}
{% block content %}



<!DOCTYPE html>
<html lang="zh-Hant" >
<head>
    <meta name="viewport" maximum-scale=1.0, user-scalable=0 content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- CSS only -->
    <link rel="stylesheet" href="{% static 'css_js/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/font-awesome.min.css' %}">
    <!-- JS, Popper.js, and jQuery -->
    <script src="{% static 'css_js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'css_js/popper.min.js' %}"></script>
    <script src="{% static 'css_js/bootstrap.min.js' %}"></script>
    <title>DICOM</title>
    </head>

<style>
input[name="username"]{display: none}
</style>
<script type="text/javascript" src="{% static 'css_js/jquery-3.6.0.min.js' %}"></script>
<script>
$(document).ready(function () {
    user_username = JSON.parse(document.getElementById('user_username').textContent)
    $('#id_username').val(user_username)
    $('#id_username').prev().css('display','none')

});


//-------------------------------定位功能------------------------------------
</script>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href={% url 'demo:index' %}>AI Center</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href={% url 'demo:index' %}>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" >相關連結</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="http://www.csh.org.tw/">中山醫學大學附設醫院</a>
                </div>
            </li>
            {% include 'accounts/loginpartial2.html' %}

        </ul>

        {% include 'accounts/loginpartial.html' %}
    </div>
</nav>

<form style="margin-top: 100px" method="post" enctype="multipart/form-data".>
    {% csrf_token %}
    {{ form.as_p }}
    {{ user.username|json_script:"user_username" }}
    <input type="submit" value="submit"/>
</form>

</body>

</html>


{% endblock %}

