

{% load static%}
{% block content %}


<!DOCTYPE html>
<html lang="zh-Hant" >
<head>
    <meta name="viewport" maximum-scale=1.0, user-scalable=0 content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- CSS only -->
    <link rel="stylesheet" href="{% static 'css_js/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/font-awesome.min.css' %}">


    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-grid.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-grid.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-reboot.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-reboot.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-utilities.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-utilities.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-utilities.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-utilities.rtl.min.css' %}">

    <!-- JS, Popper.js, and jQuery -->
    <script src="{% static 'css_js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'css_js/popper.min.js' %}"></script>
    <script src="{% static 'css_js/bootstrap.min.js' %}"></script>
    <script src="{% static 'css_js/bootstrap-5.0.2-dist/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'css_js/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'css_js/bootstrap-5.0.2-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'css_js/bootstrap-5.0.2-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'css_js/key_forbidden.js' %}"></script>
    <title>DICOM</title>
</head>

<style>
    #title {background-color: #535953; color: white;font-size: 35pt; margin-top:70px; height: 20%; overflow-y: auto; text-align:center;}
    #timetable {margin-top:150px; height: 91%; overflow-y: auto}
    #Report th{background-color: #563F2E;color: white;font-family: "Yu Gothic Light";font-size: 20pt}
    #Report td{background-color: #B4A582;color: white;font-family: "Yu Gothic Light";font-size: 20pt}
    input[name='test']:checked ~label{background-color: #33333a}
    input[name='test'] +label{width: 100%;}
    #title{width: 100%;position: absolute}
    #timetable{width: 100%;position: absolute}
    input[name='test']{display: none}
    
    .report{display: none}
</style>
<script type="text/javascript" src="{% static 'css_js/jquery-3.6.0.min.js' %}"></script>
<script>

    function Update(){
        TubeNo=$(event.target).parents().prevAll('.No').html()
        F_TubeNo = event.target.value
        $(event.target).parents().prevAll('.cate').html(event.target[event.target.selectedIndex].text)
        $.ajax({
            type: 'post',
            url: '{% url "tube:sqlupdate" %}', // this is the mapping between the url and view
            data:{
                'TubeNo':TubeNo,
                'F_TubeNo':F_TubeNo,
                'csrfmiddlewaretoken': window.CSRF_TOKEN
            },
        })
        if (F_TubeNo!=0) {
            $(event.target).parents('TD').css('background-color', '#B68E55')
            $(event.target).parents().prevAll().css('background-color', '#B68E55')
        }else{
            $(event.target).parents('TD').css('background-color', '#B4A582')
            $(event.target).parents().prevAll().css('background-color', '#B4A582')
        }
    }

    $(document).ready(function (e) {
        $.ajax({
            type: 'post',
            url: '{% url "tube:sql12" %}', // this is the mapping between the url and view
            data:{
                'csrfmiddlewaretoken': window.CSRF_TOKEN
            },
            success:function (response){
                $('#Report').append('<TR> ' +
                    '<TH STYLE="FONT-SIZE:180%" WIDTH="5%" HEIGHT="20px">序號</TH> ' +
                    '<TH STYLE="FONT-SIZE:180%" WIDTH="15%" HEIGHT="20px">系統管路名稱</TH> ' +
                    '<TH STYLE="FONT-SIZE:180%" WIDTH="15%" HEIGHT="20px">護理紀錄管路名稱</TH> ' +
                    '<TH STYLE="FONT-SIZE:180%" WIDTH="5%" HEIGHT="20px">次數</TH> ' +
                    '<TH STYLE="FONT-SIZE:180%" WIDTH="15%" HEIGHT="20px">分類</TH> ' +
                    '<TH STYLE="FONT-SIZE:180%" WIDTH="15%" HEIGHT="20px">歸類</TH> ' +
                    '</TR>')
                option='<option class="opt" value="0">未歸類</option>'
                for(var j=0;j<response.TubeNo52.length;j++){
                        option+='<option class="opt" value="'+response.TubeNo52[j]+'">'+response.TubeName52[j]+'</option>'
                }

                for(var i=0;i<response.No12.length;i++){

                    if (response.bTubeNocheck12[i] != 0) {
                        $('#Report').append('<TR>' +
                            '<TD style="background-color: #B68E55" WIDTH="5%" HEIGHT="10px" class="No">' + response.No12[i] + '</TD>' +
                            '<TD style="background-color: #B68E55" WIDTH="15%" HEIGHT="10px" class="Name">' + response.TubeName12[i] + '</TD>' +
                            '<TD style="background-color: #B68E55" WIDTH="15%" HEIGHT="10px" >' + response.TubeName212[i] + '</TD>' +
                            '<TD style="background-color: #B68E55" WIDTH="5%" HEIGHT="10px" >' + response.Times12[i] + '</TD>' +
                            '<TD style="background-color: #B68E55" WIDTH="15%" HEIGHT="10px" class="cate">' + response.TubeNamecheck212[i] + '</TD>' +
                            '<TD style="background-color: #B68E55" WIDTH="15%" HEIGHT="10px" ><select onchange="Update()" class="select">'+option+'</select></TD></TR>'
                        )
                        $(".select").eq(i).children('option').eq(response.CNocheck[i]).attr('selected',true)

                    } else {
                        $('#Report').append('<TR>' +
                            '<TD style="background-color: #B4A582" WIDTH="5%" HEIGHT="10px" class="No">' + response.No12[i] + '</TD>' +
                            '<TD style="background-color: #B4A582" WIDTH="15%" HEIGHT="10px" class="Name">' + response.TubeName12[i] + '</TD>' +
                            '<TD style="background-color: #B4A582" WIDTH="15%" HEIGHT="10px" >' + response.TubeName212[i] + '</TD>' +
                            '<TD style="background-color: #B4A582" WIDTH="5%" HEIGHT="10px" >' + response.Times12[i] + '</TD>' +
                            '<TD style="background-color: #B4A582" WIDTH="15%" HEIGHT="10px" class="cate">未歸類</TD><select>'+
                            '<TD style="background-color: #B4A582" WIDTH="15%" HEIGHT="10px" ><select onchange="Update()" class="select">'+option+'</select></TD></TR>'
                        )
                    }

                }
            }
        })
    })


//-------------------------------定位功能------------------------------------
</script>
<body onload="test()">
    {% include 'navBar.html' %}
<nav>
    <a class="navbar-brand" id="title">既有管路確認</a>
</nav>


</body>
<div id="timetable">
    <table class="table table-striped" id="Report"></table>
</div>

</html>


{% endblock %}

